.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.searchBar {
  display: flex;
  align-items: center;
  width: 80%; /* Adjust as necessary to control the width */
  max-width: 600px; /* Adjust as necessary to control the maximum width */
  background-color: #f5f5f5;
  border-radius: 50px; /* Makes the search bar rounded */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px 20px; /* Adjust the padding as necessary */
}

.searchBar input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-size: 16px;
  color: #333;
  border-radius: 50px; /* Makes the input rounded */
}

.searchBar button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-left: 10px;
}

.searchBar button svg {
  fill: #666666;
}
